<h1>Submit an article!</h1>

<form action="/articles/<%= @article.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <h2>Article Title:</h2>
  <p>
    <input type="text" name="article[title]" id="title" value="<%= @article.title %>">
  </p>
  <h2>Article Content:</h2>
  <br>
    <textarea id="content" type="text" name="article[content]"><%= @article.content %></textarea>
  <br>
  <input type="submit" value="submit">
</form>