<form method="POST" action="/articles/<%= @article.id %>">
    <input id="hidden" type="hidden" name="_method" value="PATCH"> 
    
    <label for="title">Title: </label>
    <h4><%= @article.title %></h4>
    <input type="text" id="title" name="article[title]"><br>  
    <br>
    <label for="content">Content: </label>
    <p><%= @article.content %></p>
    <input type="text" id="content" name="article[content]"><br> 
    <br>
    <button type="submit">Submit</button>
</form>