<!DOCTYPE html>
<head>
<title>All Articles</title>
</head>
<body>

<h1>All Articles</h1>
<ul>
    <% @articles.each do |article| %>
        <h2><%= article.title %></h2>
        <p><%= article.content %></p>
    <% end %>
</ul>

</body>
</html>