<h>
<form action="/articles" method="post">
  Title of article: <input type="text" id="title" name="title">
  Content of article: <input type="text" id="content" name="content">
  <input type="submit" id= "submit" value="Submit">
</form>
</h>
