<form action='/articles' method='POST'>
    <label for='title'>Please enter a title for your article:</label>
    <input type='text' name='title'>
    <br>
    <label for='content'>Please provide the body of your article:</label>
    <textarea name='content'></textarea>
    <br>
    <br>
    <input type='submit' value='submit'>
</form>