<!DOCTYPE html>
<html>
<body>

<form method="POST" action='/articles'>
<h2>Make a new article: </h2>
    <label for="title">Title: </title>
    <input type="text" id="title" name="article[title]">
    <label for="content">Content: </label>
    <input type="text" id="content" name="article[content]"><br>
    <br>
    <button type="submit">Submit</button>
</form>

</body>
</html>